body .numeros{
    font-size: 100px;
    text-align: center;
    margin-top: 200px;
}

.botoes{
    text-align: center;
    margin-top: 40px;
}

.texto{
    text-align: center;
    margin-top: 80px;
}